html,
body{
  margin: 0;
  padding: 0;
  -webkit-transition:all .2s ease;
  -moz-transition:all .2s ease;
  -ms-transition:all .2s ease;
  -o-transition:all .2s ease;
  transition:all .2s ease;
}
.banner-up { width:970px; height:90px; position:relative; z-index:1; }
.banner-down { width:970px; height:250px; overflow:hidden; position:absolute; z-index:2; }
.dropdown { width:971px; height:90px; overflow:hidden; margin:0 auto; position:relative; }
.close-dropdown { width:41px; height:15px; display:block; position:absolute; top:0; right:1px; cursor:pointer; display:none; z-index:99; background:url(../images/btn_hide.gif) no-repeat; }
.open-dropdown {
width:41px;
height:15px;
display:block;
position:absolute;
top:0;
right:1px; cursor:pointer; display:none; z-index:99; background:url(../images/btn_show.gif) no-repeat;  }
.video-dropdown { width:300px; height:170px; display:block; position:absolute;right: 653px;
    top: 16px;z-index:99; overflow:hidden; }
.close-time { font:bold 12px Arial, Helvetica, sans-serif; color:#000; position:absolute; width:300px; left:20px; bottom:20px; }
#player { height:0px; overflow:hidden; }



/*premium dan top*/
.banner-up--bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 970px;
	height: 90px;
	overflow: hidden;
	z-index: -1;
}
.banner-down--link{
	width: 970px;
	height: 250px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
.banner-up--link{
	width: 970px;
	height: 90px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}
#ytplayer{
	position: absolute;
	margin: 0px;
	left: 0;
	top: 0;
	width: 441px;
	height: 250px;
}
